body{
  background : #212f3d  ;
  font-family: 'Nunito', sans-serif;
  color: white;
}
#mainNavbar .navbar-brand{
  color:   #fff8f8;
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link:hover{
  color:  #ffe2e2;
}
#mainNavbar .nav-link{
  color:  ;
}

.JobifyBoard{
  background:  #2c3e50;
}
.UpdateLog{
  background:  #2ecc71;
  opacity: .5;
}
.UpdateLog:hover{
  opacity: 1;
  transition: opacity 800ms;
}
.JobBoard .board:hover .tile-img {
  top: -1rem;
  left: -.5rem;
}
 .tile-img  {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
}
.board .tile-img{
    height: 10rem;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.500s;
  transition-duration: 0.500s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.board:hover .tile-img {
  box-shadow: 5px 5px rgba(46, 204, 113, 0.4),
    10px 10px rgba(46, 204, 113, 0.3), 15px 15px rgba(46, 204, 113, 0.2),
    20px 20px rgba(46, 204, 113, 0.1), 25px 25px rgba(46, 204, 113, 0.05);
}

.navbar.scrolled{
  background:  #2c3e50 ;
  transition: background 500ms;
}
